# Ignore shell and history files
.bash*
.viminfo
.lesshst
.mysql_history

# Composer junk
.cache/
.config/
.local/
.terraform.d/

# Logs
*.log

# PHP installer
composer-setup.php

# Ignore hidden system files
*.swp
*.swo

